#Fri Jun 17 14:34:08 BST 2016
lisa.vse.execution.mode=EFFICIENT
LIVE_INVOCATION_SERVER=private-b1eec-globalsearchsearchapi.apiary-mock.com
LIVE_INVOCATION_PORT=808
LIVE_INVOCATION_PORT1=8080
LIVE_INVOCATION_PORT2=80
WSSERVER=www.webservicex.net
WSPORT=80
ENDPOINT=http\://www.webservicex.net/country.asmx
